.comment-page-container {
	width: 80%;
	margin: 0 auto;
}

#city-name {
    margin-top: 96px;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 60px;
}

.content {
    margin-left:24px;
}

body {
    background:#EEEEEE;
}