{% extends "base.html" %}

{% block header %}

	<link type="text/css" rel="stylesheet" href="static/css/about.css"/>

{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>About Us</h1>
	</div>

    <div class="about-us">
    	<p>We are a small team of high school seniors doubling as web developers. We aren’t normal high schoolers though. We go to a prestigious magnet school where our academy or major is computer science. As such we have taken several computer science courses in Python, Java, and C/C++. In addition to that, we have programming internships where we have learned the importance of a good user experience and user interface.</p>

    	<p>We also travel a lot and know making travel decisions can be difficult and stressful. Finding a relaxing destination that suits one’s needs is not easy and can vary greatly from person to person.</p>

    	<p>Combining these we decided to make a travel app.  Not just any travel app though. A simple, streamlined travel app with a nice, easy user experience because we believe that every part of a vacation or travel experience should be relaxing from start to finish. And that includes the planning of a trip.</p>
    </div>
{% endblock %}