{% extends "base.html" %}

{% block header %}
  <link type="text/css" rel="stylesheet" href="/static/css/city.css"/> 
{% endblock %}

{% set display_name = city.city.title().replace("-", " ") %}

{% block content %}
<div class="initial-background-container" style=""></div>
<div class="initial-cover comment-page-container">
    <h1 id="city-name">{{ display_name }}</h1>
    <div class="content">
        <p>The city of <b>{{ display_name }}</b> is located in {% if city.state|length > 2 %}{{ city.state.title() }}{% else %}{{ city.state_code.upper() }}{% endif %}, USA. Its latitude and longitude are ({{ city.loc.coordinates.1 }}, {{ city.loc.coordinates.0 }}). It has the following zip codes: {% for zip in city.zip_codes %}{{ zip }}{% if not loop.last %}, {%endif%}{% endfor %}. {% if city.population is not none %}This city has a population of {{ city.population }}.{% endif %}</p>
        <h2>Activities: </h2>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/educational.jpg" alt="...">
                  <div class="caption">
                    <h3>Education</h3>
                    <p>Who says learning can’t be fun? Find museums and galleries in {{ display_name }}.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Museums in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/beach.jpg" alt="...">
                  <div class="caption">
                    <h3>Beach</h3>
                    <p>Surfs up! Find popular beach destinations at {{ display_name }} on your next summer trip.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Beaches in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/city.jpg" alt="...">
                  <div class="caption">
                    <h3>City Life</h3>
                    <p>Want to party? Experience the city nightlife on your next trip.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Nightlife in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/dining.jpg" alt="...">
                  <div class="caption">
                    <h3>Dining</h3>
                    <p>Find the finest dining destinations to satisfy your taste buds in {{ display_name }}.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Dining in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/landmarks.jpg" alt="...">
                  <div class="caption">
                    <h3>Landmarks</h3>
                    <p>Experience all of America’s national treasures on your next trip!</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Landmarks in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/hiking.jpg" alt="...">
                  <div class="caption">
                    <h3>Nature</h3>
                    <p>Enjoy the clean air and gorgeous views on your next hiking experience.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Hiking trails in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/local_attractions.jpg" alt="...">
                  <div class="caption">
                    <h3>Local Attractions</h3>
                    <p>Uncover {{ display_name }}’s hidden gems.</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q=Local attractions in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/static/img/activities/entertainment.jpg" alt="...">
                  <div class="caption">
                    <h3>Entertainment</h3>
                    <p>Your next exciting adventure awaits!!</p>
                    <p><a href="https://www.google.com/webhp?gws_rd=ssl#safe=active&q= Entertainment parks in {{ display_name }}" target="_blank" class="btn btn-primary" role="button">Discover</a></p>
                  </div>
                </div>
            </div>
        </div>
        </div>
</div>

{% endblock %}