{% extends "base.html" %}

{% block header %}
  <link type="text/css" rel="stylesheet" href="/static/css/hotels.css"/> 

  <script>
    (function($) {
      $( document ).ready(function() {
       var $container = $( '.row' );
       $container.masonry({
         itemSelector: '.mason-item'
        });
        var msnry = $container.data('masonry');
     })
   })(jQuery)
  </script>
{% endblock %}

{% block content %}
<div class="comment-page-container">
<div class="page-header"> 
  <h1>{{hotel.name}}<small> </h1>
  <h1> Average rating: {{hotel.rating}}</small></h1>
</div>
  <ul class="list-group">
  {% for comment in comments %}
    <li class="list-group-item">
      <h3 class="list-group-item-heading">{{comment.name}}<small> Rating: {{comment.rating}}</small></h3>
      <p class="list-group-item-text">{{comment.comment}}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}