{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block content %}
<div class="initial-background-container" style="background-image: url(static/img/index.jpg);"></div>
<div class="initial-cover" style="text-align:center;">
  <h1>Dream Finder</h1>
  <p>Find your dream vacation with Dream Finder by Kenneth Rhee, Joon Lee, and <i>Joseph Goodman</i>.</p>
  <p><a class="btn btn-primary btn-lg" href="/search" role="button">Start Searching</a></p>
</div>
{% endblock %}