{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/search.css">

{% endblock %}

{% block content %}
    <div class="initial-background-container" style="background-image: url(static/img/nature.jpg);"></div>
    <div class="initial-cover">
        <div class="center-text">
            <h1>Dream Finder</h1>
            <p>Which city do you want to go to?</p>
            {% if error is defined %}<div class="alert alert-danger error" role="alert">{{ error }}</div>{% endif %}
            <form action="/search" method="POST">
                 <div class="search-form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="e.g. San Francisco" name="text" autofocus>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Find My Dream!</button>
                      </span>
                    </div>
                  </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}